{% extends "base.html" %}
{% block content %}
{% for post in posts %}
  <div class="article">
    <div class="left-part">
        <div class="date">
            <p class="day">{{ post.date.format('%d') }}</p> 
            <p class="month">{{ post.date.format('%b') }}</p>
        </div>
    </div>
    <div class="right-part">
        <h1 class="title">
            <a href="{{ post.url }}">{{ post.title }}</a>
        </h1>
        <h2>{{ post.date.format('%Y-%m-%d') }}</h2>
        <div class="content">
            {% set cover = post.metadata.cover %}
            {% if cover %}
            <div class="img-area">
                  <a href="{{ post.url }}"><img src="{{ cover }}" title="author: {{post.metadata.cover_author}}" /></a>    
            </div>
            {% endif %}
            <div class="word-area"> 
                  <a href="{{ post.url }}"><p> 
                  {% if post.metadata.intro %}
                    {{ post.metadata.intro }}
                  {% else %}
                    {% set content = post.content|limit(150)  %}
                    {{ content.no_pic }}
                  {% endif %}
                  </p></a>
            </div>
            <div class="tag">
                <div class="label">
                  <ul>
                  {% set tags = post.metadata.tags %}
                  {% if tags %}
                    {% for tag_name in tags %}
                    <li><a href="tags/{{ tag_name }}"><i class="icon-circle icon-1x"></i>&nbsp;{{ tag_name }}</a></li>
                    {% endfor %}
                  {% endif %}
                  </ul>
                </div>
                
                <div class="comment">
                  <ul>
                    <li>
                      <a href="{{ post.url }}">
                        <span class="ds-thread-count" data-thread-key="{{ post.url_path }}" data-count-type="comments"></span>
                      </a>
                    </li>
                  </ul>
                </div>
            </div>
        </div>
    </div>      
  </div> 
  <!-- 多说js加载开始，一个页面只需要加载一次 -->
  <script type="text/javascript">
  var duoshuoQuery = {short_name:"shisime"};
  (function() {
      var ds = document.createElement('script');
      ds.type = 'text/javascript';ds.async = true;
      ds.src = 'http://static.duoshuo.com/embed.js';
      ds.charset = 'UTF-8';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
{% endfor %}  
{% endblock %}