<!DOCTYPE html>
<html>
	<head>
	    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	    <title>{{post.title}}</title>
	    <link rel="stylesheet" href="http://resource.farbox.com/css/basic.css?version=1361111187">
	    <link href="/template/css/base.css" rel="stylesheet" type="text/css" />
        <link href="/template/css/text.css" rel="stylesheet" type="text/css" />
        <link href="/template/css/post.css" rel="stylesheet" type="text/css" />
        <link href="/template/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<nav class="post-option">
			<ul>
	            <li><a href="/">Home</a></li>
	            <li><a href="/archive">Archive</a></li>
	        </ul>  			
		</nav>
		<div class="post-main">
			<div class="post-container">
				<h1>{{ post.title }}</h1>
				<p class="date">{{ post.date.format('%B %d,%Y') }}</p>
				<div class="detail">
				    <p>{{ post.content }}</p>
				</div>
				{% if pre_one %}
				<span class="pre-one"><a href="{{ pre_one.url }}"><i class="icon-caret-left icon-1x"></i></a></span>
				{% endif %}
				{% if next_one %}
				<span class="next-one"><a href="{{ next_one.url }}"><i class="icon-caret-right icon-1x"></i></a></span>
				{% endif %}
			</div>
			{% include 'include/shisi_duoshuo.html' %}
		</div>
	</body>
		
</html>