.container {
    padding: 40px;
    margin: 0 auto;
    width: 75%;
}

.container p, .container span {
    font-size: 16px;
    margin-bottom: 1.46em;
}

.container a {
    font-size: 30px;
    padding-top: 10px;
}

.container a:hover {
    color: rgba(84, 126, 166, 0.9);
}

.container span:hover {
    color: rgba(84, 126, 166, 0.9);
}

@media only screen and (max-device-width: 736px) {
    .archive {
        padding: 0 9% 14% 9%;
    }
    .container {
        padding-top: 40px;
        padding-left: 9%;
        padding-right: 9%;
        width: initial;
    }
    .container p {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .container a {
        font-size: 30px;
        padding-top: 10px;
        color: rgba(84, 126, 166, 0.9);
    }
    .container span {
        font-size: 18px;
        color: rgba(84, 126, 166, 0.9);
    }
}
