.container {
    padding: 40px;
    margin: 0 auto;
    width: 75%;
}

.container p {
    font-size: 16px;
    margin-bottom: 1.46em;
}

.container a {
    font-size: 30px;
    padding-top: 10px;
}

.container a:hover {
    color: rgb(117, 0, 9);
}

.container span {
    font-size: 16px;
    padding-bottom: 1px;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
}

.container span:hover {
    padding-bottom: 1px;
    color: #222223;
    border-bottom: 2px solid #555555;
    transition: .5s;
}
@media only screen and (max-device-width: 736px){
  .container p {
    line-height: 72px;
    font-size: 40px;
    margin-bottom: 20px;
  }
  .container a {
    font-size: 72px;
    padding-top: 10px;
    color: rgb(117, 0, 9);
  }
  .container span {
    font-size: 48px;
    color: rgb(117, 0, 9);
  }
}