.archive{
	padding: 0px 45px 60px 45px;
}
.archive > li{
	font-size: 30px;
	margin-bottom: 30px;
	margin-top:10px;
}
.archive-article{
	margin: 0 20px;
}
.archive-article span{
	float: right;
}
.archive-article li{
	padding-bottom: 20px;
	font-size: 16px;
}
.archive-posts {
	padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    transition:0.5s;
}
.archive-posts:hover{
	padding-bottom: 4px;
	color: #222223;
    border-bottom: 2px solid #555555;
    transition:.5s;
}
.archive-tags{
	color: white;
    font-size: 13px;
    padding: 1px;
    background-color: rgba(79, 154, 230, 0.90);
}
.archive-tags:hover{
	color: white;
    background-color: rgb(170, 163, 232);
}
@media only screen and (max-device-width: 736px){
	.archive > li{
		text-align: center;
		font-size: 78px;
		padding-bottom: 80px;
		padding-top:40px;
    }
    .archive-article li{
		padding-bottom: 20px;
		margin-bottom: 30px;
		font-size: 46px;
		border-bottom: 2px solid #f1f1f1;
	}
	.archive-tags {
		display: none;
	}
	.archive-article span {
		display: none;
	}

}